.dark {
	color-scheme: dark only;
}

.light {
	color-scheme: light only;
}

.uzbek {
	font-family: "Times New Roman", serif;
	font-size: 20px;
}

.english {
	font-family: "Arial", sans-serif;
	font-size: 14px;
}